[submodule "utils/wallpick"]
	path = utils/wallpick
	url = git@gitea.local.vgerasimov.dev:wlad031/wallpick.git
[submodule "utils/whatis"]
	path = utils/whatis
	url = git@gitea.local.vgerasimov.dev:wlad031/whatis.git
[submodule "utils/linkman"]
	path = utils/linkman
	url = git@gitea.local.vgerasimov.dev:wlad031/linkman.git
[submodule "pi/agent/extensions/pi-lualine"]
	path = pi/agent/extensions/pi-lualine
	url = git@gitea.local.vgerasimov.dev:wlad031/pi-lualine.git
[submodule "utils/pi-loop"]
	path = utils/pi-loop
	url = git@gitea.local.vgerasimov.dev:wlad031/pi-loop.git
