* {
    border: none;
    border-radius: 0;
    min-height: 0;
    /* font-family: " nerd font"; */
    font-weight: 500;
    font-size: 12px;
    padding: 0;
}

window#waybar {
    background: #1d2021;
    /* border: 2px solid #3c3836; */
}

tooltip {
    background-color: #1d2021;
    /* border: 2px solid #7c6f64; */
}

#bluetooth,
#language {
  min-width: 20px;
}

#pulseaudio {
  min-width: 50px;
}

#taskbar,
#taskbar.button,
#taskbar button.active,
#taskbar button.empty,
#taskbar button.minimized,
#taskbar button.maximized,
#taskbar button.fullscreen {
    color: #c7ab7a;
}

#clock,
#tray,
#hw,
#battery,
#network,
#workspaces,
#language,
#bluetooth,
#mpris,
#cava,
#taskbar,
#custom-notification,
#custom-hyprsunset,
#pulseaudio {
    color: #c7ab7a;
    background-color: #303536;
    margin: 4px 4px 4px 4px;
    padding: 2px 8px;
    border: 2px solid #303536;
    border-radius: 5px;
}

#hw {
  min-width: 70px;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
}

#custom-hyprsunset {
  /* font-family: "NotoSansMono Nerd Font"; */
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #c7ab7a;
}

#workspaces button.focused {
    color: #ddc7a1;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#battery {
    color: #6c782e;
}

#cpu.critical,
#memory.critical,
#battery.warning,
#battery.critical,
#battery.urgent {
    color: #c14a4a;
}

