[mgr]
show_hidden=true
show_symlink=true
linemode="mtime"

[opener]
edit = [
	{ run = 'nvim "$@"', block = true },
]
play = [
	{ run = 'mpv "$@"', orphan = true, for = "unix" },
]
open = [
	{ run = 'xdg-open "$@"', desc = "Open" },
]

[preview]
max_width = 1000
max_height = 1000

# [plugin]
# prepend_previewers = [
#     # { mime = "text/*", run = "bat" },
#     { url = "*.csv", run = "rich-preview"},
#     { url = "*.md", run = "rich-preview" },
#     { url = "*.rst", run = "rich-preview"},
#     { url = "*.ipynb", run = "rich-preview"},
#     { url = "*.json", run = "rich-preview"},
#     # { url = "*.sh", run = "rich-preview"},
#     # { mime = "text/*", run  = 'piper -- rich -j --left --panel=rounded --guides --line-numbers --force-terminal "$1"'}
#     # { mime = "text/*", run  = 'piper -- echo "$1"'}
# ]

# FIXME: This shit doesn't work
[[plugin.prepend_previewers]]
url = "*"
run = 'piper -- echo "$1"'
